@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bounce-enter-active {
  -webkit-animation: bounce-in .3s;
          animation: bounce-in .3s;
}

.bounce-leave-active {
  animation: bounce-in .3s reverse;
}

@-webkit-keyframes bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.btn {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #dee2e6;
  border: 1px solid #dee2e6;
}

.btn.isGreen {
  background-color: #28a745;
  border: 1px solid #28a745;
  color: #fff;
}

.nav {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em 0;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav ul li {
  display: inline-block;
}

.hero_container {
  height: 100vh;
  background-image: url("/img/beach.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_title_box.is-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_title_box .title {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 3rem;
}

.hero_title_box .title.is-lower {
  padding-top: 6.5em;
}

body {
  font-family: Raleway;
}

