
// Body
$body-bg: #f5f8fa;

// Color
$white: #fff !default;
$gray: #dee2e6 !default;
$red:     #dc3545 !default;
$green:   #28a745 !default;
$pink:    #e83e8c !default;
$cyan:    #17a2b8 !default;
$teal:    #20c997 !default;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-size-large: 1.2rem;
$font-size-xlarge: 1.5rem;
$font-size-title: 3rem;
